{% extends "base.html.twig" %}

{% block title %}
    Services
    {{ parent() }}
{% endblock %}

{% block main %}
    <main id="content" class="services">
        {% for service in services %}
            {% if service.content is not empty %}
                
                {% if service.title1 is not empty %}
                    <h2 class="custom-h2">{{ service.title1 }}</h2>
                {% endif %}
                
                <article>
                    {% if service.title2 is not empty %}
                        <h3 class="center">{{ service.title2|raw }}</h3>
                    {% endif %}

                    {% if service.medias is defined and service.medias is not empty %}
                        {% for media in service.medias %}
                            <div class="media-center">
                                <figure>
                                    <img class="border-radius active-box-shadow" src="{{ 'assets/img/Service/' ~ media.url }}" alt="{{ media.alt }}">
                                </figure>
                            </div>
                        {% endfor %}
                    {% endif %}

                    {% if service.title3 is not empty %}
                        <h4>{{ service.title3 }}</h4>
                    {% endif %}
                    
                    <p>{{ service.content|raw }}</p>
                </article>
                
            {% endif %}
        {% endfor %}
    </main>
{% endblock %}
