{% extends "base.html.twig" %}

{% block title %}
    Services
    {{ parent() }}
{% endblock %}

{% block main %}
    <main id="content" class="services">
        {% for service in services %}
            {% if service.content is not empty %}
                
                {% if service.title1 is not empty and service.title2 is not empty and service.title3 is empty %}
                    <h2>{{ service.title1 }}</h2>
                    <article>
                        <h3>{{ service.title2 }}</h3>
                        <p>{{ service.content }}</p>
                    </article>

                {% elseif service.title1 is empty and service.title2 is not empty and service.title3 is empty %}
                    <article>
                        <h3 class="h3_center">{{ service.title2 }}</h3>
                        <p>{{ service.content|raw }}</p>
                    </article>
                
                {% elseif service.title1 is empty and service.title2 is not empty and service.title3 is not empty %}
                    <article>
                        <h3 class="h3_center">{{ service.title2|raw }}</h3>
                        {% for media in service.medias %}
                            <div class="media-center">
                                <figure>
                                    <img class="img-content" src="{{ 'assets/img/Service/' ~ media.url }}" alt="{{ media.alt }}">
                                </figure>
                            </div>
                        {% endfor %}
                        <h4>{{ service.title3 }}</h4>
                        <p>{{ service.content }}</p>
                    </article>
                    
                {% elseif service.title1 is empty and service.title2 is empty and service.title3 is not empty %}
                    <article>
                        <h4>{{ service.title3 }}</h4>
                        <p>{{ service.content|raw }}</p>
                    </article>
                {% endif %}
            {% endif %}
        {% endfor %}
    </main>
{% endblock %}

{% block javascript %}

{% endblock %}