{% extends "admin/admin-base.html.twig" %}
{% block title %}
	estimate
	{{ parent() }}
{% endblock %}


{% block main %}
	<main id="admin_pricing_page">
		<a class="backBtn" href="index.php?route=admin">
			<i class="fa-solid fa-arrow-left"></i>
		</a>
		<h2 class="pricing">estimate</h2>

		<table class="pricing_table">
			<thead>
				<tr>
					<th scope="col">Devis N°</th>
					<th scope="col">N° à recontacter </th>
					<th scope="col">Prénom</th>
					<th scope="col">Nom</th>
					<th scope="col">Édition</th>
				</tr>
			</thead>
			<tbody>
				{%  for pricing in pricings %}
					<tr>
						<td>{{ pricing.id }}</td>
						<td>{{ pricing.contact_mode }}</td>
						<td>{{ pricing.firstname }}</td>
						<td>{{ pricing.lastname }}</td>

						<td>
							<ul class="pricing_edit_btns">
								<li>
									<a href="index.php?route=show-pricing&id={{ pricing.id }}">
										<i class="fa-regular fa-eye"></i>
									</a>
								</li>
								<li>
									<a href="index.php?route=delete-pricing&id={{ pricing.id }}">
										<i class="fa-solid fa-trash"></i>
									</a>
								</li>
							</ul>
						</td>
					</tr>
				{% endfor %}

			</tbody>
		</table>
		<a class="backBtn" href="index.php?route=admin">
			<i class="fa-solid fa-arrow-left"></i>
		</a>
	</main>
{% endblock %}
