{% extends "admin/admin-base.html.twig" %}
{% block title %}
    Réalisations
    {{ parent() }}
{% endblock %}


    {% block main %}
        <main class="admin-realisation">
            <a class="backBtn" href="index.php?route=dashboard"><i class="fa-solid fa-arrow-left"></i></a>
            <h2 class="reals">Réalisations</h2>
            <p><a class="addBtn" href="index.php?route=create-realisation"><i class="fa-solid fa-circle-plus"></i>&nbsp;&nbsp;Ajouter une réalisation</a></p>

            <table class="realisation-table">
                <thead>
                <tr>
                    <th scope="col">Réalisation N°</th>
                    <th scope="col">Edition</th>
                    <th scope="col">Titre</th>
                    <th scope="col">Sous-titre n°1</th>
                    <th scope="col">Soustitre n°2</th>
                    <th scope="col">Description</th>
                </tr>
                </thead>
                <tbody>
                {%  for realisation in realisations %}
                    <tr>
                        <td>{{ realisation.id }}</td>
                        <td>
                            <ul class="real_edit_btns">
                                <li><a class="edit_btns" href="index.php?route=show-realisationg&id={{ realisation.id }}"><i class="fa-regular fa-eye"></i></a></li>
                                <li><a class="edit_btns" href="index.php?route=delete-realisationg&id={{ realisation.id }}"><i class="fa-solid fa-trash"></i></a></li>
                            </ul>
                        </td>
                        <td>{{ realisation.title1 }}</td>
                        <td>{{ realisation.title2 }}</td>
                        <td>{{ realisation.title3 }}</td>
                        <td>{{ realisation.content}}</td>
                    </tr>
                {% endfor %}

                </tbody>
            </table>
            <a class="backBtn" href="index.php?route=dashboard"><i class="fa-solid fa-arrow-left"></i></a>
        </main>
    {% endblock %}