{% extends "admin/admin-base.html.twig" %}
{% block title %}
	Réalisations
	{{ parent() }}
{% endblock %}

{% block main %}
	<main class="admin-realisation">
		<div class="btn-back-dashboard">
			<a class="back-btn" href="index.php?route=dashboard">
				<img src="assets/img/logo/icons8-arrière-48.png" alt="bouton back retour au tableau de bord">
				retour au tableau de bord
			</a>
		</div>
		<h2 class="admin-h2">Réalisations</h2>
		<a class="add-content" href="index.php?route=create-realisation">
			<img src="assets\img\logo\icons8-ajouter-une-propriété-48.png" alt="logo ajouter un article">
			Ajouter une réalisation
		</a>

		<table class="admin-table realisation-table">
			<thead>
				<tr>
					<th scope="col">Réalisation N°</th>
					<th scope="col">Editer/Voir</th>
					<th scope="col">Titre</th>
					<th scope="col">Sous-titre n°1</th>
					<th scope="col">Sous-titre n°2</th>
					<th scope="col">Description</th>
					<th scope="col">Image</th>
					<th scope="col">Visible</th>
					<th scope="col">Supprimer</th>
				</tr>
			</thead>
			<tbody>
				{% for realisation in realisations %}
					<tr>
						<td>{{ realisation.id }}</td>
						<td class="edit-view">
							<a class="edit" href="index.php?route=edit-realisation&id={{ realisation.id }}">éditer
								<img src="assets/img/logo/modifier-un-fichier-texte-48.png" alt="logo modifier la réalisation">
							</a>
							<a class="view" href="index.php?route=show-realisation&id={{ realisation.id }}">voir
								<img src="assets/img/logo/voir-un-fichier-texte-48.png" alt="logo voir la réalisation">
							</a>
						</td>

						<td>{{ realisation.title1 is not empty ? realisation.title1 : '' }}</td>
						<td>{{ realisation.title2 is not empty ? realisation.title2 : '' }}</td>
						<td>{{ realisation.title3 is not empty ? realisation.title3 : '' }}</td>
						<td>{{ realisation.content }}</td>

						<td>
							{% if realisation.media is defined and realisation.media|length > 0 %}
								{% for media in realisation.media %}
									<img src="{{ 'assets/img/Realisation/' ~ media.url }}">
								{% endfor %}
							{% else %}
								<p>Aucun média lié à cette article</p>
							{% endif %}
						</td>

						<td>{{ realisation.visible ? 'Oui' : 'Non' }}</td>

						<td>
							<a href="index.php?route=delete-realisation&id={{ realisation.id }}">
								<img class="delete" src="assets/img/logo/supprimer-un-fichier-texte-48.png" alt="logo supprimer le devis">
							</a>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>

		<div class="btn-back-dashboard">
			<a class="back-btn" href="index.php?route=dashboard">
				<img src="assets/img/logo/icons8-arrière-48.png" alt="bouton back retour au tableau de bord">
				retour au tableau de bord
			</a>
		</div>
	</main>
{% endblock %}
