{% extends "admin/admin-base.html.twig" %}
{% block title %}
	Voir les Réalisation N°{{ realisation.id }}
	{{ parent() }}
{% endblock %}
{% block main %}
	<main class="edit-realisation">
		<div class="btn-back-dashboard">
			<a class="back-btn" href="index.php?route=realisations-list">
				<img src="assets/img/logo/icons8-arrière-48.png" alt="bouton back retour au tableau de bord">
				retour au réalisations
			</a>
		</div>

		<article class="realisation">
			<h1>{{ realisation.title1 is not empty ? realisation.title1 : '' }}</h1>

			<h2>{{ realisation.title2 }}</h2>

			<h3>{{ realisation.title3 }}</h3>

			<p></p>{{ realisation.content }}</p>

		<p>Image(s) associée(s)</p>
		{% if realisation.media is defined and realisation.media|length > 0 %}
			{% for media in realisation.media %}
				<img src="{{ 'assets/img/Realisation/' ~ media.url }}">
			{% endfor %}
		{% else %}
			<p>Aucun média lié à cette article</p>
		{% endif %}

	</article>

	<section class="delete-article">
			<a class="delete-article" href="index.php?route=delete-realisation&id={{ realisation.id }}" onclick="return confirm('Êtes-vous sûr de vouloir supprimer cette réalisation ?');">
				Supprimer la réalisation N°{{ realisation.id }}
				<img class="delete" src="assets/img/logo/supprimer-un-fichier-texte-48.png" alt="logo supprimer le devis">
			</a>
		</section>
	
</main>{% endblock %}
