{% extends "admin/admin-base.html.twig" %}

{% block title %}
	Prestations
	{{ parent() }}
{% endblock %}


{% block main %}
	<main class="admin-service">
		<div class="btn-back-dashboard">
			<a class="back-btn" href="index.php?route=dashboard">
				<img src="assets/img/logo/icons8-arrière-48.png" alt="bouton back retour au tableau de bord">
				retour au tableau de bord
			</a>
		</div>

		<h2 class="admin-h2">Services</h2>
		<a class="add-content" href="index.php?route=create-service">
			<img src="assets\img\logo\icons8-ajouter-une-propriété-48.png" alt="logo ajouter un article">
			Ajouter un service
		</a>

		<table class="admin-table service-table">
			<thead>
				<tr>
					<th scope="col">Réalisation N°</th>
					<th scope="col">Éditer</th>
					<th scope="col">Titre</th>
					<th scope="col">Sous-titre n°1</th>
					<th scope="col">Sous-titre n°2</th>
					<th scope="col">Description</th>
					<th scope="col">Image</th>
					<th scope="col">Visible</th>
					<th scope="col">Supprimer</th>
				</tr>
			</thead>
			<tbody>
				{% for service in services %}
					<tr>
						<td scope="row">{{ service.id }}</td>
						<td>
							<a class="edit_btns real_edit_btns" href="index.php?route=show-service&id={{ service.id }}">
								<img src="assets/img/logo/icons8-voir-le-fichier-64.png" alt="Voir la réalisation">
							</a>
						</td>

						<td>{{ service.title1 is not empty ? service.title1 : '' }}</td>
						<td>{{ service.title2 is not empty ? service.title2 : '' }}</td>
						<td>{{ service.title3 is not empty ? service.title3 : '' }}</td>
						<td>{{ service.content is not empty ? service.content : '' }}</td>

						<td>
							{% if service.medias is defined and service.medias is not empty %}
								{% for media in service.medias %}
									<img src="{{ 'assets/img/Service/' ~ media.url }}">
								{% endfor %}
							{% else %}
								<p>Aucun média lié à cet article</p>
							{% endif %}
						</td>

						<td>{{ service.visible ? 'Oui' : 'Non' }}</td>

						<td>
							<a href="index.php?route=delete-service&id={{ service.id }}">
								<img src="assets/img/logo/icons8-effacer-64.png" alt="Bouton pour supprimer le service">
							</a>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>

		<div class="btn-back-dashboard">
			<a class="back-btn" href="index.php?route=dashboard">
				<img src="assets/img/logo/icons8-arrière-48.png" alt="bouton back retour au tableau de bord">
				retour au tableau de bord
			</a>
		</div>
	</main>
{% endblock %}
