{% extends "admin/base-admin.html.twig" %}

{% block title %}
	Prestation N°{{ service.id }}
	{{ parent() }}
{% endblock %}


{% block main %}
	<main id="service_show">
		<a class="back-btn" href="index.php?route=list-services"><img src="assets\img\logo\icons8-go-back-64.png" alt="boutton back retour au tableau de bord"></a>
		<h2 class="service">Prestation N°{{ service.id }}<a class="edit_btns" href="index.php?route=delete-service&id={{ service.id }}">
				<img src="assets\img\logo\icons8-effacer-64.png" alt="boutton pour supprimer le devis">
			</a>
		</h2>

		<p>
			<span>Titre :</span>
			{{ service.title }}</p>
		<p>
			<span>Description :</span>
			{{ service.description }}</p>
		<p>
			<span>Image(s) à l'appui :</span>
		</p>
		{% for picture in service.pictures %}
			<img class="serciceImg " src="{{ picture.url }}" alt="{{ picture.alt }}" width="200px"/>
		{% endfor %}


		<a class="back-btn" href="index.php?route=list-services"><img src="assets\img\logo\icons8-go-back-64.png" alt="boutton back retour au tableau de bord"></a>


	</main>
{% endblock %}
