{% extends "base.html.twig" %}

{% block title %}
	realisations
	{{ parent() }}
{% endblock %}

{% block main %}
	<main id="content" class="realisations">
		{% for realisation in realisations %}
			{% if realisation.content is not empty %}
				<section>
					{% if realisation.title1 is not empty and realisation.title2 is empty and realisation.title3 is empty %}
						<h2>{{ realisation.title1 }}</h2>
						<p>{{ realisation.content }}</p>


					{% elseif realisation.title1 is empty and realisation.title2 is not empty and realisation.title3 is not empty %}
						<h3>{{ realisation.title2 }}</h3>
						<h4>{{ realisation.title3 }}</h4>
						<p>{{ realisation.content }}</p>


					{% elseif realisation.title1 is empty and realisation.title2 is empty and realisation.title3 is not empty %}
						<h4>{{ realisation.title3 }}</h4>
						<p>{{ realisation.content }}</p>

				</section>

				<section>
					{% elseif realisation.title1 is empty and realisation.title2 is not empty and realisation.title3 is not empty %}
						<h3>{{ realisation.title2 }}</h3>
						<h4>{{ realisation.title3 }}</h4>
						<p>{{ realisation.content }}</p>
						{% for media in realisation.medias %}
							<div class="container">
								<div class="slider_befor">
									<figure>
										<img class="img-content" src="{{ 'assets/img/Realisation/' ~ media.url }}" alt="{{ media.alt }}">
									</figure>
								</div>
								<div class="silder_sparator"></div>
								<div class="slider_after">
									<figure>
										<img class="img-content" src="{{ 'assets/img/Realisation/' ~ media.url }}" alt="{{ media.alt }}">
									</figure>
								</div>
								<input class="slider_range" type="range" min="0" max="100" value="50">
							</div>
						{% endfor %}

					{% elseif realisation.title1 is empty and realisation.title2 is empty and realisation.title3 is not empty %}
						<h3>{{ realisation.title3 }}</h3>
						<p>{{ realisation.content }}</p>

						{% for media in realisation.medias %}
							<div class="gallery">
								<figure>
									<img class="img-content" src="{{ 'assets/img/Realisation/' ~ media.url }}" alt="{{ media.alt }}">
								</figure>
							</div>
						{% endfor %}
				</section>

				<section>
					{% elseif realisation.title1 is empty and realisation.title2 is not empty and realisation.title3 is empty %}
						<h3>{{ realisation.title2 }}</h3>
						<p>{{ realisation.content }}</p>

						{% for media in realisation.medias %}
							<div class="gallery">
								<figure>
									<img class="img-content" src="{{ 'assets/img/Realisation/' ~ media.url }}" alt="{{ media.alt }}">
								</figure>
							</div>
						{% endfor %}
				</section>
				{% endif %}
			</div>

		{% endif %}
	{% endfor %}
</main>{% endblock %}
