{% extends "base.html.twig" %}

{% block title %}
	realisations
	{{ parent() }}
{% endblock %}

{% block main %}
    <main id="content" class="realisations">
        {% for realisation in realisations %}
            {% if realisation.content is not empty %}
                <section>
                    {# Affichage des titres selon les conditions #}
                    {% if realisation.title1 is not empty %}
                        <h2>{{ realisation.title1 }}</h2>
                    {% elseif realisation.title2 is not empty and realisation.title3 is empty %}
                        <h3>{{ realisation.title2 }}</h3>
                    {% elseif realisation.title3 is not empty %}
                        <h4>{{ realisation.title3 }}</h4>
                    {% endif %}
                    <p>{{ realisation.content }}</p>
                </section>

                {# Affichage des médias #}
                {% if realisation.medias is not empty %}
                    <section>
                        {% if realisation.medias|length == 2 %}
                            {# Slider avant-après #}
                            <div class="slider">
                                <div class="slider_before">
                                    <img loading="lazy" src="{{ 'assets/img/Realisation/' ~ realisation.medias[0].url }}" alt="{{ realisation.medias[0].alt }}">
                                </div>
                                <div class="slider_after">
                                    <img loading="lazy" src="{{ 'assets/img/Realisation/' ~ realisation.medias[1].url }}" alt="{{ realisation.medias[1].alt }}">
                                </div>
                                <div class="slider_separator"></div>
                            </div>
                        {% else %}
                            {# Galerie d'images  #}
                            <div class="gallery">
                                {% for media in realisation.medias %}
                                    <figure>
                                        <img loading="lazy" class="img-content" src="{{ 'assets/img/Realisation/' ~ media.url }}" alt="{{ media.alt }}">
                                    </figure>
                                {% endfor %}
                            </div>
                        {% endif %}
                    </section>
                {% endif %}
            {% endif %}
        {% endfor %}
    </main>
{% endblock %}
