{% extends "admin/admin-base.html.twig" %}
{% block title %}
	Message N°{{ message.id }}
	{{ parent() }}
{% endblock %}

{% block main %}
	<main id="message_show">
		<a class="back-btn" href="index.php?route=list-messages">
			<img src="assets\img\logo\icons8-go-back-64.png" alt="boutton back retour au tableau de bord">
		</a>
		<h2 class="message">Message N°{{ message.id }}
			<a class="edit_btns" href="index.php?route=delete-message&id={{ message.id }}">
				<img src="assets\img\logo\icons8-effacer-64.png" alt="boutton pour supprimer le devis">
			</a>
		</h2>

		<p>
			<span>Prénom :</span>
			{{ message.firstname }}</p>
		<p>
			<span>Nom :</span>
			{{ message.lastname }}</p>
		<p>
			<span>Ville :</span>
			{{ message.city }}</p>
		<p>
			<span>Email :</span>
			{{ message.email }}</p>
		<p>
			<span>Message :</span>
			{{ message.content }}</p>

		<a class="back-btn" href="index.php?route=list-messages">
			<img src="assets\img\logo\icons8-go-back-64.png" alt="boutton back retour au tableau de bord">
		</a>

	</main>
{% endblock %}
