{% extends "admin/base-admin.html.twig" %}

{% block title %}
    Message N°{{ message.id }}
    {{ parent() }}
{% endblock %}

    {% block main %}
        <main id="message_show">
            <a class="backBtn" href="index.php?route=list-messages"><i class="fa-solid fa-arrow-left"></i></a>
            <h2 class="message">Message N°{{ message.id }} <a class="edit_btns" href="index.php?route=delete-message&id={{ message.id }}"><i class="fa-solid fa-trash"></i></a></h2>

            <p><span>Prénom :</span> {{ message.firstname }}</p>
            <p><span>Nom :</span> {{ message.lastname }}</p>
            <p><span>Ville :</span> {{ message.city }}</p>
            <p><span>Email :</span> {{ message.email }}</p>
            <p><span>Message :</span> {{ message.content }}</p>

            <a class="backBtn" href="index.php?route=list-messages"><i class="fa-solid fa-arrow-left"></i></a>

        </main>
    {% endblock %}